.titleCadastro {
    font-size: 53px;
    font-family: 'Alata', sans-serif;
    color: #FFFFFF;
    line-height: 110px;
}

.cadastroqry {
    min-width: 450px;
    min-height: 150px;
    max-height: 200px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    background-color: #696df6;
    text-align: center;
    /*z-index: 10;*/
    flex: 1;
    align-items: center;
    border-radius: 12px;
}

.form {
    margin-left: 50px;
    margin-right: 50px;

    min-width: 420px;
    max-width: 1800px;
    min-height: 750px;
    max-height: 1150px;
    background-color: #DDDEFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 15px;
    min-width: 400px;
    max-width: 800px;
}

.input input {
    border-radius: 12px;
    width: 400px;
    height: 57px;
    font-size: 30px;
    font-family: 'Alata', sans-serif;
    outline: none;
    border: none;

}

.input select {
    border-radius: 12px;
    width: 400px;
    height: 57px;
    font-size: 30px;
    font-family: 'Alata', sans-serif;
    outline: none;
    border: none;
}

.form label {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    font-family: 'Alata', sans-serif;
    color: #696df6;
    line-height: 20px;
    margin-right: 10px;
}

.cadastrarBtn2 {
    min-width: 400px;
    max-width: 650px;
    height: 57px;
    border-radius: 12px;
    background-color: #16CA5E;
    font-size: 36px;
    font-family: 'Alata', sans-serif;
    line-height: 20px;
    color: #FFFFFF;
}

.cadastrarBtn2:hover {
    cursor: pointer;
}

.box-input {
    display: flex;
    border-radius: 12px;
    width: 400px;
    height: 57px;
    font-size: 30px;
    font-family: 'Alata', sans-serif;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    text-align: right;
    align-items: center;
}

.box-icon {
    flex: 1;
}

.box-choice {
    text-align: left;
    flex: 10;
}

.box-icon:hover {
    cursor: pointer;
}