.titleHome {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 47px;
    font-family: 'Alata', sans-serif;
    color: #696df6;
    flex: 1;
}

.cadastrarBtn {
    right: 0;
    width: 405px;
    height: 81px;
    margin-top: 32px;
    margin-right: 35px;
    margin-left: 35px;
    border-radius: 13px;
    background-color: #FFFFFF;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #696df6;
}

.superContainer {
    display: flex;
    flex-direction: column;
}

.navigation {
    flex: 1;
    background-color: #DDDEFF;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(150px);
    display: flex;
    flex-wrap: wrap;
}


.shadow {
    background-color: black;
    background: linear-gradient(to bottom, #DDDEFF 50%, white 50%);
    /*position: fixed;*/
    width: 100%;
    display: flex;
}

.qry {
    right: 0;
    min-height: 150px;
    max-height: 200px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #696df6;
    /*z-index: 10;*/
    flex: 1;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
}

.palavra {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.alfabetica {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.mao {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.qry span {
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px;
}

.qry input {
    height: 57px;
    border-radius: 12px;
    border-style: solid;
}

.searchicon {
    color: #FFFFFF;
}